
<!-- Sidebar -->
<div id="sidebar" class="small-12 medium-3 grid-block small-order-2 medium-order-1">
    <div id="filter">
        <div class="card">
            <div class="card-divider">Фильтр</div>
            <div class="card-section">
                <div class="filter-section">
                    <div class="filter-header">Социальная сеть:</div>
                    <div class="filter-content">
                        <input id="filter_by_vk" type="checkbox"><label for="filter_by_vk">Vk</label>
                        <input id="filter_by_ok" type="checkbox"><label for="filter_by_ok">Ok</label>
                    </div>                                    
                </div>
                <div class="filter-section">
                    <div class="filter-header">Возраст:</div>
                    <div class="filter-content grid-block medium-up-2">
                        <input id="filter_age_from" class="age_filter" type="text" placeholder="От" />
                        <input id="filter_age_to" class="age_filter" type="text" placeholder="До" />
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar end -->

<!-- Content area -->
<div id="main" class="small-12 medium-9 large-9 grid-content small-order-1 medium-order-2">
    <div id="main-header">
        <span  id="searchBlock" class="inline-label">
            <input type="search" placeholder="Search a thing">
            <a href="#" class="button">Search</a>
        </span>
    </div>
    <div id="main-content" class="grid-block small-up-1 medium-up-3 large-up-4">
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <div class="primary card">
                    <div class="card-divider">Алиева Алина</div>
                    <img src="http://placehold.it/350x250">
                    <div class="card-section">
                        Город: Бишкек
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Content area -->
            